{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1> About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class=" col-md-10 col-sm-12 offset-md-1 p-4 text-center">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ex quidem molestiae ad temporibus sequi alias molestias nihil eos dolorum excepturi aut modi doloribus, numquam quod accusamus quae cupiditate magni!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam similique quisquam necessitatibus, vitae explicabo pariatur ab delectus? Error eveniet rerum ab fugit. Explicabo ea porro iste unde amet error expedita!</p>
        </div>
    </div>
</div>

{% endblock content %}
        